/* Basic editor styles */
.tiptap-emoji img {
  width: 1.4em;
  display: inline;
}
.tiptap {
  span {
    font-size: 1rem !important;
  }
}

.menu-bar-button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  cursor: pointer;
}

.no-left-border {
  border-left: 0;
}

.color-circle {
  width: 28px;
  height: 28px;
  border: 1px solid lightgray;
}